* {
  margin: 0;
  padding: 0;
}
body{
  background: linear-gradient(#5d5d5d, #060503);
  height: 100vh;
}

.wrapper {
  color: whitesmoke;
  position: relative;
  min-width: 600px;
  width: 80vw;
  margin: 0 auto;
  padding: 30px;
  box-sizing: border-box;
}
.wrapper::before {
  content: "";
  position: absolute;
  background: url(https://d1w9csuen3k837.cloudfront.net/Pictures/1280x720/8/3/5/131835_shutterstock_632041256_WV.jpg)
    no-repeat;
  background-size: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(5%);
}

.safetyIndicatorItem {
  grid-area: safety;
}

.hazardousAsteroids {
  grid-area: hazard;
    font-size: 17px;
  padding:15px;
  text-align: center;
  height: fit-content;
  align-self: center;
}

.hazardousAsteroids span{
    font-size: 18px;
    font-family: cursive;
}
.firstAsteroid {
  grid-area: first;

  padding: 10px;
}

.bsfs {
    display:grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-area: bsfs;
    
}
.bsfs>p{
    align-self: center;
}
.baList {
  grid-area: baList;
}

.baList ul{
    list-style-type: none;
}
.baList h2 {
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.baList ul li{ 
    padding: 5px 5px;
}
.baList ul li:nth-child(odd){ 
    background-color: rgba(136, 135, 134, 0.459);
}

.faList {
  grid-area: faList;

}

.faList h2 {
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.faList ul{
    list-style-type: none;
}
.faList ul li{ 
    padding: 5px 5px;
}
.faList ul li:nth-child(odd){ 
    background-color: rgba(136, 135, 134, 0.459);
}


.data {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-template-rows: max-content max-content max-content minmax(auto, 350px);
  grid-template-areas:
    "safety hazard hazard hazard"
    "first  first  first  first"
    "bsfs   bsfs   bsfs   bsfs"
    "baList baList faList faList";
    /* "baList baList faList faList"; */
    /* "baList baList faList faList"; */
}
.faList ul, .baList ul {
    overflow-y: scroll;
}
.faList ul, .baList ul {
  overflow-y: scroll;
  height: 80%;
  
}
.faList ul::-webkit-scrollbar, .baList ul::-webkit-scrollbar {
    width: 0.8em;
}
.faList ul::-webkit-scrollbar-track , .baList ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 15px;
    margin-top: 10px;
    height: 95%;
    margin-bottom: 10px;

}
.faList ul::-webkit-scrollbar-thumb, .baList ul::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 15px;
    margin-top: 10px;


  outline: 1px solid slategrey;
}

.data > div {
  z-index: 5;
  border: 1px solid rgba(129, 129, 129, 0.404);
  /* box-sizing: border-box; */
  margin: 5px;
  border-radius: 7px;
  background-color: rgba(39, 38, 46, 0.8);
}

.data>div>*{
    padding:8px;
}
.safetyIndicatorItem{
    justify-items: center;
}

.safetyIndicatorItem h3{
    max-width: 40%;
    text-overflow: clip;
    margin-top: 5px;
    margin-left: 10px;
}
.safetyIndicatorItem>*{
    display:inline-block;
    height: 100%;
}

.safetyIndicatorItem .box{
    float: right;
    width:18px;
    height: 18px;
    margin:7px;
    margin-top: 15px;
    margin-right: 15px;
    border-radius: 50%;
}
.safetyIndicatorItem .red{
   background-color: red;
}

.safetyIndicatorItem .green{
    background-color: green;
 }